*{
    font-family: cursive;
}

body{
    background-image: url("assets/img/52b981072ab66a6c0efb17cc818cc64a.jpg");
    margin:0px;
}



.imgHistoria{
	padding-left: 10px;
    display: inline-block;
    box-sizing: border-box;
	width: 25%;
    padding-bottom: 10px;
}

@media (min-width:768px) and (max-width:992px){
    .histor .imgHistoria{
    width: 50%;
    }
}
@media (max-width:768px){
    .histor .imgHistoria{
    width: 100%;
    }
}

footer{
    position: absolute;
    width: 100%;
    background-color: #000000;
    color: #ffffff;
    margin-top: 10px;
    left: 0px;
    right: 0px;
}

.cfoot1{
    display: flex;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: black;
    width: 100%;
    height: 100%;
    font-size: xx-large;
    color:white;
    align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	box-sizing: border-box;
}

thead{
    background-color: #b0d4d4
}
tfoot{
    background-color: #b0d4d4
}
tbody{
    background-color: #f0f0f0
}

.Link{
    font-size: 1.5em;
    width: 80%;
    margin: auto;
    box-sizing: border-box;
    min-width: 250px;
    border: 3px solid black;
    background-color: #bedff1;
    padding:10px;
}

.Link img{
    width: 25%;
    float: right;
    padding-left: 10px;
}
@media (min-width:768px) and (max-width:992px){
    .Link img{
    width: 50%;
    }
}
@media (max-width:768px){
    .Link img{
    width: 100%;
    }
}

.Zelda{
    font-size: 1.5em;
    width: 80%;
    margin: auto;
    box-sizing: border-box;
    min-width: 250px;
    border: 3px solid black;
    background-color: #e0caca;
    padding:10px;
}
.Zelda img{
    width: 25%;
    float: right;
    padding-left: 10px;
}

@media (min-width:768px) and (max-width:992px){
    .Zelda img{
    width: 50%;
    }
}
@media (max-width:768px){
    .Zelda img{
    width: 100%;
    }
}
.Ganondorf{

    font-size: 1.5em;
    width: 80%;
    margin: auto;
    box-sizing: border-box;
    min-width: 250px;
    border: 3px solid black;
    background-color: #58493c;
    padding:10px;
    color: rgb(219, 219, 219);

}

.Ganondorf img{
    width: 25%;
    float: right;
    padding-left: 10px;
}

@media (min-width:768px) and (max-width:992px){
    .Ganondorf img{
    width: 50%;
    }
}
@media (max-width:768px){
    .Ganondorf img{
    width: 100%;
    }
}

.container{
    display: flex;
    flex-wrap: wrap;
    font-size: 1.5em;
    width: 80%;
    margin: auto;
    box-sizing: border-box;
    min-width: 250px;
    border: 3px solid black;
    background-color: #dddddd;
    padding:10px
}

.formulario{
    max-width: 1050px;
    margin: auto;
    margin-top: 1em;
    font-size: 1.5em;
}

#formulario button[type="submit"]{
    margin-top: 1em;
    width: 100%;
    font-size: large;
}

.formuPregunta{
    margin-top: 1em;
    width: 100%;
    font-size: large;
}



.menu{
    display: flex;
	position: fixed;
	top: 0px;
	left: 0px;
    width: 100%;		
    background-color: skyblue;
	color: white;
	font-size: xx-large;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 0.25em 0.5em;
	box-sizing: border-box;
	border-bottom: 5px darkSeaGreen solid;
}

h1{
    text-align: center;
}





.fotoPrincipal{
    margin: auto;
    width: 50%;
    min-width: 500px;
    box-sizing: border-box;
    margin-top: 5rem;
}

.fotoPrincipal>img{
    width: 100%;
}

.fotoEnlaces>.floating{
    position: absolute;
    font-size: 22px;
    font-weight: bold;
}

.fotoPrincipal>.izq_arr{	
    top: 8px;
    left: 16px;
}

.fotoPrincipal>.izq_aba{
    bottom: 8px;
    left: 16px;
}

.fotoPrincipal>.der_arr{
    top: 8px;
    right: 16px;
}

.fotoPrincipal>.der_aba{
    bottom: 8px;
    right: 16px;
}		

.content{
    
    font-size: 1.5em;
    width: 80%;
    margin: auto;
    box-sizing: border-box;
    min-width: 250px;
    border: 3px solid black;
    background-color: #dddddd;
    padding:10px;
}
    

.content img{
    width: 25%;
    float: right;
    padding-left: 10px;
}
@media (min-width:768px) and (max-width:992px){
    .content img{
    width: 50%;
    }
}
@media (max-width:768px){
    .content img{
    width: 100%;
    }
}


.cont-img{
    display:flex;
    width: 85%;
    margin: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 3px;
}

.cont-img .imagen{
    width: 30%;
    position: static;
}
.imagen img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width:1000px){
    .cont-img{
        width: 95%;
    }
}
@media screen and (max-width:700px){
    .cont-img{
        width: 90%;
    }
    .cont-img .imagen{
        width: 48%;
    }
}
@media screen and (max-width:450px){
    .cont-img{
        width: 98%;
    }
    .cont-img .imagen{
        width: 80%;
    }
}