.menu{
    display: flex;
	position: fixed;
	top: 0px;
	left: 0px;
    width: 100%;		
    background-color: white;
	color: navy;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 0.25em 0.5em;
	box-sizing: border-box;
	border-bottom: 5px lightblue solid;
}

.center{
	display: flex;
	justify-content: space-between;
}

.content img{
	width: 15%;
    float: right;
    padding-left: 10px;

}


.content{
    font-size: 1.5em;
    width: 80%;
    margin: auto;
    box-sizing: border-box;
    min-width: 250px;
    padding:10px;
	font-size: medium;
}


.foot{
    display: flex;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    align-items: center;
	justify-content: space-evenly;
	flex-wrap: wrap;
	box-sizing: border-box;
	border-top: 5px lightblue solid;
}