*{
    font-family: sans-serif;
}


.fotoPrincipal{
    margin: auto;
    width: 50%;

    margin-top: 5rem;
}

.fotoPrincipal>img{
    width: 100%;
}
@media (min-width:768px) and (max-width:992px){
    .fotoPrincipal>img{
        width: 50%;
    }
}
@media (max-width:768px){
    .fotoPrincipal>img{
    width: 100%;
    }
}

h1 {
    padding-left: 5%;
}
.menu{
    display: flex;
	position: fixed;
	top: 0px;
	left: 0px;
    width: 100%;		
    background-color: white;
	color: navy;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 0.25em 0.5em;
	box-sizing: border-box;
	border-bottom: 5px lightblue solid;
}
.menu a{
    text-decoration: none;
}

.center{
	display: flex;
	justify-content: space-between;
}

.content img{
	width: 7%;
    float: right;
    padding-left: 10px;
}
@media (min-width:768px) and (max-width:992px){
    .content img{
        width: 50%;
    }
}
@media (max-width:768px){
    .content img{
    width: 100%;
    }
}


.content{
    width: 80%;
    margin: auto;
    box-sizing: border-box;
    min-width: 250px;
    padding:10px;
	font-size: medium;
}
.contentF{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 1.5em;
    width: 80%;
    margin: auto;
    box-sizing: border-box;
    min-width: 250px;
    padding:10px;
	font-size: medium;
}

.content article{
    width: 20%;
}

.foot{
    display: flex;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    align-items: center;
	justify-content: space-evenly;
	flex-wrap: wrap;
	box-sizing: border-box;
	border-top: 5px lightblue solid;
}

